@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: Work Sans, sans-serif;
}

.header,
.all-article {
  display: flex;
  background-color: #f3c6bd;
  padding: 0px 50px;
}
.all-article {
  height: 450px;
}

.all-features {
  width: 43%;
}

.hamb-menu {
  font-size: 25px;
  display: none;
  width: 26px;
  float: right;
}

#toggle {
  display: none;
}

.title-nav {
  padding: 2% 0;
}

.navbar {
  padding-left: 25rem;
}

.logo {
  width: auto;
  align-self: center;
  height: 48px;
  border-color: #ffffff;
  border-style: solid;
  border-width: 0.4em;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 1e-5) 100%
    ),
    #ffffff;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05), 0px 1px 2px rgba(0, 0, 0, 0.1),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}
.page-header {
  width: 200px;
  padding-top: 1.7rem;
  padding-left: 0.5rem;
}

.page-title {
  font-size: 1rem;
  font-weight: bolder;
  line-height: 0px;
  align-self: center;
}

.page-description {
  font-size: 0.8rem;
  font-weight: lighter;
}

.ouch {
  position: relative;
  max-height: 375px;
  max-width: 666.29px;
  bottom: 22rem;
  left: 23rem;
  width: 100%;
  height: auto;
}

.article {
  margin-top: 40px;
}

.article-title {
  font-style: normal;
  font-weight: bolder;
  font-size: 4.6rem;
  line-height: 4rem;
  letter-spacing: -0.5px;
  width: 60%;
}

.article-text {
  font-style: normal;
  font-weight: lighter;
  font-size: 1.3rem;
  line-height: 34px;
  width: 40%;
}

.article-buttons {
  margin-top: 2rem;
}

.learn-more,
.get-started,
.more-about-company {
  font-weight: bold;
  width: 9rem;
  height: 2.8rem;
  border-radius: 2px;
  border-color: transparent;
  color: #ffffff;
  background-color: #3142c6;
}

.article-title,
.article-text,
.article-buttons {
  z-index: 1;
  float: left;
}

.learn-more {
  color: inherit;
  background-color: #ffffff;
}

.questions {
  background-color: #f4f5f7;
  padding: 50px;
  font-size: 1rem;
}

.features {
  padding: 50px 50px;
  position: relative;
}

.features-2,
.mobile-desc {
  display: none;
}

.mobile-desc {
  color: rgba(43, 41, 45, 0.6);
  text-align: center;
  font-size: 14px;
}

.features-name {
  color: #009b4d;
}

.features-title {
  font-weight: bold;
  font-size: 2.4rem;
}

.new-customers {
  font-style: normal;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 118%;
  color: #3142c6;
}

.compass {
  padding-right: 0.5rem;
}

.new-customers-text {
  font-style: normal;
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 1.3rem;
  border-bottom: 3px solid #3142c6;
  padding-bottom: 15px;
}

.engage {
  font-weight: bold;
  font-size: 1.1rem;
  border-bottom: 1px solid rgba(43, 41, 45, 0.15);
  padding-bottom: 15px;
}

.invision {
  position: absolute;
  max-height: 450px;
  max-width: 799.84px;
}

.visitors {
  background-color: #edf8fb;
  padding: 50px 50px;
}

.visitors-header {
  width: 35%;
}

.engage-visitors {
  line-height: 155%;
}

.engage-visitors,
.card-text {
  font-weight: bold;
  font-size: 1.1rem;
}

.audience {
  font-weight: bold;
  font-size: 2.4rem;
}

.categories {
  padding-top: 50px;
}

.card {
  padding: 20px 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  color: inherit;
  text-decoration: none;
}

.card:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #3141c5;
}

.card-img {
  width: fit-content;
}

.card-text {
  line-height: 127%;
}

.more-about-company {
  width: 12rem;
}

.hiring {
  padding: 50px 50px;
}

.hiring-title {
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
}

.vacancy {
  width: 70%;
}

.location {
  font-size: 1rem;
  line-height: 133%;
  opacity: 0.6;
}

.vacancy {
  padding-left: 1.5625rem;
  margin-bottom: 1.25rem;
}

.arrow {
  float: right;
  padding-right: 1rem;
}

.trial {
  background-color: #f4f5f7;
  padding: 50px 50px;
}

.trial-img {
  max-width: 270px;
  max-height: 296px;
}

@media (max-width: 1200px) {
  .navbar {
    padding-left: 13rem;
  }

  .ouch {
    left: 18.5rem;
    bottom: 22rem;
    width: 70%;
  }
  .article-title {
    font-size: 3.8rem;
  }

  .article-text {
    font-size: 1.2rem;
  }
}

@media (max-width: 990px) {
  .navbar {
    padding-left: 10.7rem;
  }

  .header,
  .all-article {
    padding: 0 25px;
  }

  .all-article {
    height: 275px;
  }

  .logo {
    height: auto;
    width: 6%;
  }
  .page-title {
    font-size: 0.9rem;
  }
  .page-description {
    font-size: 0.7rem;
  }

  .nav-item {
    font-size: 0.9rem;
    margin: 0 -0.1rem;
  }

  .get-started,
  .learn-more {
    font-size: 0.8rem;
    width: 6rem;
    height: 2rem;
  }

  .ouch {
    width: 65%;
    left: 15.5rem;
    bottom: 16.5rem;
  }

  .article-title {
    font-size: 2.6rem;
    line-height: 2.5rem;
  }

  .article-text {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
  .article {
    margin-top: 20px;
  }

  .questions,
  .features,
  .visitors,
  .hiring,
  .trial {
    padding: 25px 25px;
  }

.card {
  padding: 5px 5px 5px 0;
}

  .card-img {
    height: 75%;
    width: auto;
  }

  .vacancy {
    padding : 20px 20px;
  }
}

@media (max-width: 770px) {
  .navbar {
    padding-left: 2.5rem;
  }

  .all-article {
    height: 200px;
  }

  .page-title {
    font-size: 0.7rem;
  }

  .page-description {
    font-size: 0.5rem;
  }

  .nav-item {
    font-size: 0.7rem;
  }

  .article {
    margin-top: 0;
  }

  .article-title {
    font-size: 2.1rem;
    line-height: 2.1rem;
  }

  .article-text {
    font-size: 0.65rem;
    line-height: 1rem;
  }

  .article-buttons {
    margin-top: 0.9rem;
  }

  .get-started,
  .learn-more {
    font-size: 0.6rem;
    width: 5rem;
    height: 1.6rem;
  }

  .ouch {
    left: 12rem;
    bottom: 12.5rem;
  }



  .card {
    padding: 0;
  }
  .card-img {
    height: 40%;
    width: auto;
  }
  .card-text {
    font-size: 0.75rem;
  }
  .vacancy {
    padding : 15px 15px;
  }

  .location {
    font-size: 0.6rem;
  }
}

@media (max-width: 580px) {
  .container {
    max-width: 320px;
  }
  .header {
    width: auto;
    background-color: #ffffff;
    padding: 0 15px;
  }

  .all-article,
  .questions,
  .features,
  .visitors,
  .hiring,
  .trial,
  .all-features {
    padding: 15px 15px;
  }

  .logo {
    width: auto;
  }

  .page-header {
    width: auto;
  }

  .page-title {
    font-size: 1.2rem;
  }

  .page-description {
    display: none;
  }

  .all-article {
    background-color: #f3c6bd;
    height: 750px;
  }

  .navbar {
    padding-left: 0;
  }

  .nav-item {
    width: 100%;
  }

  .article-title {
    width: 100%;
    font-size: 3rem;
    line-height: 2.8rem;
  }
  .article-text {
    width: 100%;
    font-size: 1.9rem;
    line-height: 2rem;
  }

  .article-buttons {
    width: 100%;
    flex-direction: column;
    align-self: center;
    margin: 0;
  }

  .get-started,
  .learn-more,
  .more-about-company {
    font-size: 1.2rem;
    width: 100%;
    height: 3rem;
  }

  .ouch {
    position: absolute;
    width: 320px;
    left: -0.94rem;
    bottom: -12rem;
  }

  .questions {
    flex-direction: column;
  }

  .invision {
    display: none;
  }

  .all-features {
    width: 100%;
  }

  .new-customers,
  .new-customers-text,
  .engage {
    display: none;
  }

  .features-2,
  .mobile-desc {
    display: unset;
  }

  .visitors-header {
    width: 100%;
  }

  .visitors-buttons,
  .categories {
    flex-direction: column;
  }

  .card {

  padding: 10px 10px;
    margin-bottom: 5px;
    align-self: center;
  }
}
